<?xml version="1.0" encoding="utf-8"?>
<Config>
    <DataType name="32d1v" spec="[32][1]"/>
    <DataType name="32d1v1b" spec="[32][1][1]" />

    <Module name="PE">

        <InPort specName="32d1v" isBuffered="false"/>
        <InPort specName="32d1v" isBuffered="false"/>
        <InPort specName="32d1v" isBuffered="false"/>
        <OutPort specName="32d1v1b" isBuffered="false"/>

        <LogicUnit name="inBuffer1" type="MEM" scriptName="inBuffer1.lua">
            <Parameter size="5" specName="32d1v" cycleCounter="1"/>
        </LogicUnit>

        <Connection>
            <InportOut index="0" targetName="inBuffer1"/>
            <InportOut index="1" targetName="inBuffer1"/>
            <OutputIn index="0" sourceName="inBuffer1"/>
            <FreeConnection sourceName="" targetName=""/>
        </Connection>
       
    </Module>
</Config>